.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
  }
  .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    left: 31px;
    margin: 0;
    border-radius: 2px;
  }
  .timeline > div {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .timeline > div:before,
  .timeline > div:after {
    content: " ";
    display: table;
  }
  .timeline > div:after {
    clear: both;
  }
  .timeline > div > .timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
  }
  .timeline > div > .timeline-item > .time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
  }
  .timeline > div > .timeline-item > .timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
  }
  .timeline > div > .timeline-item > .timeline-header > a {
    font-weight: 600;
  }
  .timeline > div > .timeline-item > .timeline-body,
  .timeline > div > .timeline-item > .timeline-footer {
    padding: 10px;
  }
  .timeline > div > .fa,
  .timeline > div > .glyphicon,
  .timeline > div > .ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
  }
  .timeline > .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
  }
  .timeline-inverse > div > .timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .timeline-inverse > div > .timeline-item > .timeline-header {
    border-bottom-color: #ddd;
  }
 /*
 * Component: Callout
 * ------------------
 */
.callout {
  border-radius: 3px;
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.callout a {
  color: #0275d8;
  text-decoration: underline;
}
.callout a:hover {
  color: #eee;
}
.callout h4 {
  margin-top: 0;
  font-weight: 600;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code,
.callout .highlight {
  background-color: #fff;
}
.callout.callout-danger {
  border-color: #c23321;
}
.callout.callout-warning {
  border-color: #c87f0a;
}
.callout.callout-info {
  border-color: #0097bc;
}
.callout.callout-success {
  border-color: #00733e;
}
nav {
  height: 100%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(75, 60, 175);
  padding-top: 10px;
}

.link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
}

nav a:hover {
  color: #f1f1f1;
}

@media screen and (max-width: 768px) {
.menuItem {width: 100px; padding-top: 15px; border-collapse: collapse;}
.menuItem a {font-size: 18px;}
}
